@media screen and (max-width: 768px) 
{

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    max-width: 768px;
}
  
/* BARRE DE NAVIGATION */

  nav {
    width: 100%;
    flex-direction: column;
    align-items: center;
    min-height: 50px;
    margin-bottom: 30px;
    gap: 25px;
  }

  nav ul {
    font-size: 1.2rem;
    font-weight: 100;
    width: 100%;
    justify-content: center;
    gap: 80px;
  }

  .ligne-hebergement {
    position: absolute;
    border: 1px solid rgba(242, 242, 242, 1);
    width: 50%;
    left: 0;
    top: 100px;  
}

.ligne-activites {
    position: absolute;
    border: 1px solid rgba(242, 242, 242, 1);
    width: 50%;
    right: 0;
    top: 100px; 
}

nav ul:active {
    color: #0065FC;
}

  nav img {
    padding-left: 0;
    margin-top: 20px;
  }

  nav ul li {
    padding: 0;
    margin: 0;
  }

nav ul li a:hover {
    color: inherit;
    border-top: none;
}

/* HEADER */

header {
    padding-left: 20px;
    padding-right: 20px;
}

header h3 {
    padding-top: 10px
}

.search-btn   {
    display: none;  
  }

.loupe-mobile {
    display: block;
    color: white;
    height: 40px;
    width: 40px;
    background-color: #0065FC;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    padding-top: 0;
}

.filter ul li {
    width: calc(50% - 10px);
    box-sizing: border-box;
    justify-content: flex-start;
    font-size: 0.6rem;
    font-weight: 600;
}

.filter ul li img {
    vertical-align: middle;
}

.fin-header {
    position:relative;
}

.fin-header p {
    font-weight: 100;
}

/* HOTELS */
  
.hotel-top {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    width: 100%;
    gap: 20px;
    padding-left: 0;
    padding-right: 0;
}

.hotel-1 {
    width: 90%;
}

.hotel-2 {
    width: 90%;
}

.hotel-3 {
    width: 90%;
}

.hotel-4 {
    width: 90%;
}

.hotel-5 {
    width: 90%;
}

.hotel-6 {
    width: 90%;
}

.hotel-bot {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#hebergements {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
}

.marseille {
    order: 2;
    box-sizing: border-box;
    background-color: white;
}

.populaire {
    width: 375px;
    min-width: 100%;
    margin-top: 50px;
    border-radius: 0%;
}

.text-hotel-pop {
    font-size: 0.9rem;
}

.text-hotel-pop h3 {
    padding-top: 7px;
}

.text-hotel-pop p {
    font-weight: 100;
}

.hotels p {
    font-weight: 100;
}

.populaire h2 {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 0;
}

.hotelpopulaire {
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    order: 1;
}

.note-hotel-left {
    padding: 0;
    padding-left: 10px;
}

.note-hotel-right {
    padding-top: 80px;
}

.hotel-pop:nth-of-type(2) .note-hotel-right {
    padding-top: 60px;
}

.hotel-pop:nth-of-type(3) .note-hotel-right {
    padding-top: 60px;
}

/* ACTIVTÉS */

#activites h2 {
    font-weight: 500;
}

.activite {
    width: 100%;
}

.activite img{
    width: 100%;
    max-height: 150px;
}

.activite h3 {
    font-weight: 600;
}

/* FOOTER */

footer {
    flex-direction: column;
    text-align:left;
    padding: 20px;
    margin: 0;
    gap: 30px;
}

footer ul li {
    padding-top: 5px;
}

footer a {
    font-weight: 200;
}

}